body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 5px 300px 5px 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  border: 1px solid rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

.header {
  font-weight: bold;
  background-color: lightgrey;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: bold;
  background-color: gainsboro;
  overflow: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 35px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-left: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

#contacts {
  margin-top: 3px;
  background-color: gainsboro;
}

#summary {
  margin-top: 3px;
}

#skills {
  margin-top: 3px;
  background-color: gainsboro;
}

#code {
  margin-top: 3px;
}

#courses {
  margin-top: 3px;
  background-color: gainsboro;
}

#projects {
  margin-top: 3px;
}

#education {
  margin-top: 3px;
  background-color: gainsboro;
}

#languages {
  margin-top: 3px;
}

#profile img {
  box-shadow: 6px 6px 18px rgb(0 0 0 / 25%);
}
